<!DOCTYPE html>
<html>
<head>
	<title>product</title>
	<meta charset="utf-8">
</head>
<body>
	<div class="page">
		<div class="top-wrap">
			<a href="/admin/">管理首页</a>
			<a href="/admin/product">产品</a>
		</div>
		<div class="content-wrap">
			product
		</div>
	</div>
</body>
</html>